@import '../Layout/colors';

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body{
    font-size: 14px;
    background-color: $very-Dark-Blue;
    background-image: url('../images/bg-mobile.png');
    background-size: 100vw 100vh;
    background-position:center center ;
    background-repeat: no-repeat;
}

main{
    display: grid;
    min-height: 100vh;
    align-content: center;
    max-width: 1200px;
    margin:1rem auto;
    .data-container{
        .left-data,.right-data{
            box-shadow: 0px 1px 30px 0px rgba(0,0,0,0.2);
        }
        width:86%;
        margin:0 auto;
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
        
        .left-data{
            background-color: $dark-Blue;
            border-top-right-radius: 100px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            border-top-left-radius: 10px;
            .container{
                padding:2.4rem 2rem;
                .inner-data{
                    max-width: 100px;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    .logo{
                        margin-bottom:2rem;
                    }
                    .data{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        gap: 1rem;
                        
                        img{
                            aspect-ratio: 1/1;
                            width:50px;
                            display: block;
                            background-color:$very-Dark-Blue;
                            padding:.9rem;
                            border-radius: 7px;
                            
                        }
                    }
                }
            }
        }
        .right-data{
            background-color: $dark-Blue;
            border-radius: 10px;
            align-self: end;
            
            .container{
                position: relative;
                padding:2rem;
                text-align: center;
                p{
                    font-size:.9rem;
                    margin-bottom:1rem;
                    font-weight: 400;
                    color:$pale-blue;
                    span{
                        font-weight: 700;
                    }
                }
                .volume{
                    width:100%;
                    height: 17px;
                    padding:1px 0;
                    background-color: $very-Dark-Blue;
                    margin-bottom:.5rem;
                    border-radius: 10px;
                    position: relative;
                    overflow: hidden;
                    &::before{
                        content: "";
                        position: absolute;
                        top:100%;
                        transform: translateY(-134%);
                        left:70%;
                        height: 11px;
                        border-radius: 50%;
                        aspect-ratio: 1/1;
                        background-color: $pale-blue;
                        z-index: 1;
                    }
                    &:after{
                        content: "";
                        position: absolute;
                        top:0;
                        left:0;
                        width:75%;
                        height: 16px;
                        background:$gradient;
                        border-radius: 10px;
                    }
                }
                .span-data{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    p{
                        color:$pale-blue;
                        font-weight: 700; 
                        font-size: .8rem;
                    }
                }
                .data-remaining{
                    background-color: #fff;
                    width:max-content;
                    position: absolute;
                    top:100%;
                    left:50%;
                    transform: translate(-50%,-100%);
                    margin-top:2.3rem;
                    padding:.7rem 1.6rem;
                    border-radius: 10px;
                    color:$very-Dark-Blue;
                    font-weight: 700;
                    font-size:2.7rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    span{
                        color:$grayish-Blue;
                        font-size:.8rem;
                        margin-left: .5rem;
                    }
                }
            }
        }
    }
}


@media screen and (min-width:768px) {
    body{
        background-image: url("../images/bg-desktop.png");
        background-position: 0% 100%;
        background-size: 100% 50%;
        background-repeat: no-repeat;
    }
    main{
        margin:0 auto;
        .data-container{
            grid-template-columns:1fr 2fr;
            grid-gap:2rem;
            
            .left-data{
                width:350px;
            }
            .right-data{
                max-width:540px;
                .container{
                    text-align: left;
                    .volume{
                        &:after{
                            width:73%;
                        }
                    }
                    
                    .data-remaining{
                        top:-3rem;
                        left:100%;
                        transform: translateX(-119%);
                        margin-top:0rem;
                        padding:.5rem 1.4rem;
                        span{
                            font-size:.8rem;
                            margin-left: .5rem;
                        }
                        &::before{
                            content: "";
                            position: absolute;
                            top:80%;
                            right: 0;
                            border:35px solid transparent;
                            width:0px;
                            border-right-color: #fff;
                            border-top:0;
                            height: 0px;
                        }
                    }
                }
            }
        }
    }
    
    
}




